.idea
dist
**/__pycache__/
src/3phi_framework.egg-info
.DS_Store
docs/_build
docker/tmp
docker/object_storage/*
**.bak
**.venv
# results written by the Streamlit app
src/threephi_framework/data_apps/Results/
internal/
docker/.migrations/
docker/dev.env
docker/db/seed/seed.sql
