# dependencies for local testing, pip install in .venv
pandas
pyarrow
s3fs
adlfs
dask[distributed]
psycopg2
bokeh
sqlalchemy
xxhash

# sm_classifier
matplotlib
tqdm

# stat_labeler
scipy
scikit-learn
statsmodels

# streamlit app (run_streamlit.sh)
streamlit
altair