sphinx
dask[distributed]
sqlalchemy
numpy
pyarrow
s3fs
adlfs
psycopg2
pandas
xxhash
matplotlib
tqdm
# needed to autodoc data_apps.stat_labeler (imports dtu.stat_labeler)
scipy
scikit-learn
statsmodels
